body{
    background-color: aqua;
    color: rgb(32, 31, 30);
    text-align: center;
}
.timer{
  left: 150px;
}
.board-container {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  td {
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
  }